body{
    
    margin: 0;
}

.navbar{
    margin-left: 50%;
}

.success{
    background-color: greenyellow;
    color: black;
    text-align: center;
    width: 50%;
    border-radius: 5px;
    margin-left: 25%;
    text-align: center;
    justify-content: center;
}
.fail{
    background-color: red;
    color: black;
    text-align: center;
    width: 50%;
    height: 5%;
    border-radius: 5px;
    margin-left: 25%;
    text-align: center;
    justify-content: center;
    
}



.title{
    font-size: 40px;
    background-color: rgb(184, 59, 59);
    text-align: center;
    border-radius: 15px;
}

.submit{
    background-color: rgb(221, 103, 103);
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    width: 100px;
    height: 40px;
}
.submit:hover{
    background-color: rgb(179, 55, 55);
    cursor: pointer;
}
input{
    background-color: rgb(175, 149, 149);
    border-radius: 10px;
}


a:hover{
    color: red;
    border: 1px solid black;
    background-color: black;
}
.table{
    position: absolute;
    top: 35%;
    left: 35%;
    width: 400px;
    color: white;
    background-color: rgb(217, 66, 66);
}

.welcome{
    float: right;
    background-color: rgb(199, 69, 69);
    border: 1px solid black;
    border-radius: 10px;
}
.deconnection{
    color: red;
    margin-right: 20px;
    text-decoration: none;
    background-color: black;
}
.deconnection:hover{
    color: black;
    border: 1px solid black;
    background-color: red;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(114, 2, 2);
    color: white;
    text-align: center;
}